.categoryGrade {
    font-family: "Highgate";
    text-transform: uppercase;
}
.categoryGrade {
    margin: 0;
    margin-bottom: 1em;
    color: var(--main)
}

.categoryGrade h4 {
    display: inline;
    font-size: 200%;
    color: var(--main)
}

.categoryMeat {
    margin-left: 1em;
}

.categoryMeat form {
    margin-left: 2em;
}

.assignmentList {
    margin-left: 2em;
}

.enterAssignment input {
    font-size: large;
    text-decoration: none;
    border: none;
    border-top: 0.2vmax solid var(--main);
    border-bottom: 0.2vmax solid var(--main);
    border-right: 0.2vmax solid var(--main);
    height: 3vh;
}

#assignmentName {
    border-left: 0.2vmax solid var(--main);
    border-bottom-left-radius: 0.4em;
    border-top-left-radius: 0.4em;
    border-right: 0.2vmax solid var(--main);
}

#assignmentYourGrade {
    padding-left: 0.5em;
    width: 5.2em;
}

#assignmentMaxGrade {
    width: 5.2em;
    padding-left: 0.5em;
    border-right: 0.2vmax solid var(--main);
    border-bottom-right-radius: 0.4em;
    border-top-right-radius: 0.4em;
}

#addAssignment {
    margin-left: 0.5em;
    height: auto;
    background-color: var(--secondary);
    border: 0.2vmax solid var(--main);
    color: white;
    border-radius: 10px;
    text-align: center;
    vertical-align: center;
}
#addAssignment:hover {
    cursor: pointer;
}
table {
    margin-left: 2em;
    margin-right: auto;
    width:40%;
}

.headers th {
    font-size: 1.2em;
}

.headers {
    border-bottom: 1px solid black;

}

tr, td {
    text-align: center;
    font-size: 1em;
}

#nameHeader {
    width: 16vw;
    position: static;
}