.categoryDiv h1 {
    color: var(--secondary);
    font-family: "Highgate";
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.4em;
    margin: 0;
}

.categoryDiv h2 {
    margin: 0;
    font-size: 0.6em;
    color: #716432;
    display: inline;
}

.categoryDiv {
    margin-left: 0.5em;
}