:root {
  --main: #5A4088;
  --secondary: #87794D;
}

h1 {
  font-size: 3em;
  font-family: "Highgate";
  font-weight: 900;
}

h2 {
  padding-left: 3px;
  padding-right: 3px;
  font-size: 2em;
  font-family: "Highgate";
  font-weight: 700;
  border: 0.3rem var(--main) solid;
  border-radius: 5px;
  display: inline-block;
  left: 100%;
  right: 100%;
}

input {
  margin: 5px;
  padding: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}