.totalGrade {
  font-size: 20vh;
  display: inline;
  right: 0;
  position: absolute;
  top: 16.5%;
  transform: translate(-5%, -50%);
  float: right;
  opacity: 70%;

  color: var(--main);
  font-family: "Highgate";
  font-weight: 700;
}

#catNameInput {
  width: 20vw;
  border-left: 0.2vmax solid var(--main);
  border-bottom-left-radius: 0.4em;
  border-top-left-radius: 0.4em;
  border-right: 0.2vmax solid var(--main);


}
#catWeightInput {
  width: 8vw;
  padding-left: 0.5em;
  border-right: 0.2vmax solid var(--main);
  border-bottom-right-radius: 0.4em;
  border-top-right-radius: 0.4em;
}

.enterCategory input {
  font-size: large;
  margin-top: 1vh;
  text-decoration: none;
  border: none;
  border-top: 0.2vmax solid var(--main);
  border-bottom: 0.2vmax solid var(--main);
  height: 3vh;
}

.enterCategory {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

#addCategory, #calculate{
  height: auto;
  background-color: var(--secondary);
  border: 0.2vmax solid var(--main);
  color: white;
  border-radius: 10px;
  text-align: center;
  vertical-align: center;
}
#addCategory:hover, #calculate {
  cursor: pointer;
}

#calculate {
  text-transform: uppercase;
  font-family: "Highgate";
  font-weight: 700;
  margin-left: 3em;
  width: 10vw;
}
