@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input-group {
        @apply border-4 border-main text-xl inline-block rounded-md
    }
    .plus-button {
        @apply border-2 border-main rounded-md ml-2 px-2 bg-secondary text-white;
    }
    .input {
        @apply text-center focus:outline-none
    }
}